<div class="center">
  <div>
    {{questionModel.question}}
  </div>

  <!--Radio group-->
  <div>
    <input name="group100" type="radio" id="radio100" (click)="checkAnswer('a')">
    <label for="radio100">{{questionModel.answer.a}}</label>
    <!-- <i class="fa fa-address-book" aria-hidden="true"></i> -->
    <span *ngIf="show; else elseBlock">
      <i class="far fa-check-circle"></i>
    </span>
    <ng-template #elseBlock>
      <i class="far fa-times-circle"></i>
    </ng-template>

  </div>

  <div>
    <input name="group100" type="radio" id="radio101" (click)="checkAnswer('b')">
    <label for="radio101">{{questionModel.answer.b}}</label>
    <span *ngIf="show; else elseBlock">
      <i class="far fa-check-circle"></i>
    </span>
    <ng-template #elseBlock>
      <i class="far fa-times-circle"></i>
    </ng-template>
  </div>

  <div>
    <input name="group100" type="radio" id="radio102" (click)="checkAnswer('c')">
    <label for="radio102">{{questionModel.answer.c}}</label>
  </div>
  <div>
    <input name="group100" type="radio" id="radio103" (click)="checkAnswer('d')">
    <label for="radio103">{{questionModel.answer.d}}</label>
  </div>
</div>
